body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
button          { color: #30a819; }

.page           { margin: 2em auto; width: 80em; border: 5px solid #ccc;
    padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.update-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.update-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
    margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
    border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }
.delete-entry   { color: crimson }
.title_search_input { width: 100px; }
.loginForm { font-family: sans-serif, Arial; text-align: center; font-size: 30px; height: 250px; }
.loginForm dt { margin-left: -75px; font-size: 20px}
.login_input { width: 200px; font-size: 18px; height: 25px; font-weight: 400}

.dropbtn {
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    height: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
