{% extends "layout.html" %}
<script src="{{ url_for('static', filename='js/get_selection.js') }}"></script>
{% block body %}
{% if session.logged_in %}
<h2>Create User</h2>
<form action="{{ url_for('add_user')}}" method=post class=update-entry>
    <dl>
        {% if not user_entity %}
        <dt>Username:
        <dd><input type=text size=30 name=username>
        <dt>Full Name:
        <dd><input type=text size=30 name=account>
        <dt>Email:
        <dd><input type=text size=30 name=email>
        <dt>Password:
        <dd><input type=password size=30 name=password>
        <dt>Role:
        <dd><select name=role>
                {% for role in role_entities %}
                <option value="{{ role.role_code }}">{{ role.role_name }}</option>
                {% endfor %}
            </select>
        {% else %}
        <dt>Username:
        <dd><input type=text size=30 value="{{ user_entity.username1 }}" name=username>
        <dt>Full Name:
        <dd><input type=text size=30 value="{{ user_entity.fullname }}" name=account>
        <dt>Email:
        <dd><input type=text size=30 value="{{ user_entity.email }}" name=email>
        <dt>Password:
        <dd><input type=password size=30 value="{{ user_entity.password1 }}" name=password>
        <dt>Role:
        <dd><select name=role>
            {% for role in role_entities %}
            <option value="{{ role.role_code }}">{{ catalog.role_name }}</option>
            {% endfor %}
        </select>
        {% endif %}
            <input type=submit value=Submit>
    </dl>
</form>
{% endif %}
{% endblock %}