<!doctype html>
<title>Variate</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='js/get_selection.js') }}"></script>
<div class=page>
    <h1><a href="{{ url_for('show_entries') }}">Variate</a></h1>
    <div class=metanav>
        {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
        {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
        <div  class=addnote>
            {% if 'add_entry' in all_permissions %}
            <li>
            <a href="{{ url_for('add_new_entry') }}">Create Note</a>
            </li>
            {% endif %}
            {% if 'add_catalog' in all_permissions %}
            <li>
            <a href="{{ url_for('add_new_catalog_page') }}">Create catalog</a>
            </li>
            {% endif %}
            {% if 'add_user' in all_permissions %}
            <li>
            <a href="{{ url_for('add_user') }}">Create user</a>
            </li>
            {% endif %}
            {% if 'add_role' in all_permissions %}
            <li>
            <a href="{{ url_for('add_role') }}">Create role</a>
            </li>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>