{% extends "layout.html" %}
{% block body %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<div class="loginForm">
    <h2>Login</h2>
<form action="{{ url_for('login') }}" method=post>
    <dl>
        <dt>Username:
        <dd><input type=text class="login_input" name=username>
        <dt>Password:
        <dd><input type=password class="login_input" name=password>
        <dd><input type=submit class="login_input" value=Login>
    </dl>
</form>
</div>
{% endblock %}