{% extends "layout.html" %}
{%import 'pages.html' as pg%}
{% block body %}
{% if session.logged_in %}
<h2>Search Conditions</h2>
<form action="{{ url_for('filter_by_catalog_id') }}" method=post class=filter-by-catalog-id>
    <dl>
        <dd><input id="title_search" placeholder="type title" class="title_search_input" autocomplete="off" name=title>
            <select id="filter_catalog" name=catalog title="catalog filter">
                <option value="-1">all catalogs</option>
                {% for catalog in catalog_entities %}
                <option value="{{ catalog.catalog_num }}">{{ catalog.catalog_name }}</option>
                {% endfor %}
            </select>
            <select id="createBy" name=creator title="creator filter">
                <option value="all">all creators</option>
                {% for creator in creators %}
                <option value="{{ creator }}">{{ creator }}</option>
                {% endfor %}
            </select>
            <select id="sorted_by" name=sort title="Sorted By">
                <option value=id>id</option>
                <option value=title>title</option>
                <option value=createTime>createTime</option>
            </select>
            {% if search_condition %}
            <script>
                get_default_selection('filter_catalog', "{{ search_condition.catalog }}")
                get_default_selection('sorted_by', "{{ search_condition.sort }}")
                get_default_selection('createBy', "{{ search_condition.create_by }}")
                type_input('title_search', '{{ search_condition.title }}')
            </script>
            {% endif %}
        <input type=submit value=Submit>
    </dl>
</form>
<ul class=entries>
    <p class="total_entry">Find Total {{ pagination.total }} entries.</p>
    {% for entry in entries %}
    <li class="entry_detail">
        <h3>{{ entry.title }}</h3>
        {% if session.username == 'admin' %}
        <button onclick='delete_entry_confirm("{{ entry.id }}")' class=delete-entry>Delete</button>
        {% endif %}
        <button onclick='location.href=("/edit_entry/{{ entry.id }}")'>Edit</button>
        <p class="entry_text">{{ entry.text|safe }}</p>
        {% else %}
    <li><em>No entries here match the search condition so far</em>
        {% endfor %}
</ul>
{{pg.my_paginate(pagination,'filter_by_catalog_id')}}
{% else %}
{% if error %}<p class=error onClick="timedMsg()"><strong>Error:</strong> {{ error }}{% endif %}
<div class="loginForm">
    <h2>Login</h2>
<form action="{{ url_for('login') }}" method=post>
    <dl>
        <dt>Username:
        <dd><input type=text class="login_input" name=username>
        <dt>Password:
        <dd><input type=password class="login_input" name=password>
        <dd><input type=submit class="login_input" value=Login>
    </dl>
</form>
</div>
{% endif %}
{% endblock %}