{% extends "layout.html" %}
<script src="{{ url_for('static', filename='js/get_selection.js') }}"></script>
{% block body %}
{% if session.logged_in %}
<h2>Edit Note</h2>
<form action="{{ url_for('update_entry')}}" method=post class=update-entry>
    <dl>
        <dd><input type="hidden" size=30 value="{{ entry.id }}" name=id>
        <dt>Note Title:
        <dd><input type=text size=30 value="{{ entry.title }}" name=title>
        <dt>Note Text:
        <dd><textarea name=text rows=15 cols=100 id="edit_text"></textarea>
        <script>
            document.getElementById("edit_text").value="{{ entry.text }}"
        </script>
        <dt>Catalog Selection:
        <dd><select id="edit_catalog" name=catalog>chengdu
            {% for catalog in catalog_entities %}
            <option value="{{ catalog.catalog_num }}">{{ catalog.catalog_name }}</option>
            {% endfor %}
        </select>
        <script>
            get_default_selection('edit_catalog', "{{ entry.catalogs }}")
        </script>
            <input type=submit value=Submit>
    </dl>
</form>
{% endif %}
{% endblock %}