{% extends "layout.html" %}
<script type="text/javascript" src="time_operation.js"></script>
{% block body %}
{% if session.logged_in %}
<h2>Add Note</h2>
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
    <dl>
        <dt>Note Title:
        <dd><input type=text size=30 name=title>
        <dt>Note Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dt>Catalog Selection:
        <dd><select id="catalog" name=catalog>chengdu
            <option value=0>test</option>
            <option value=1>mysql</option>
            <option value=2>python</option>
            <option value=3>performance</option>
            <option value=4>security</option>
        </select>
        <input type=submit value=Submit>
    </dl>
</form>
<h2>Search Conditions</h2>
<form action="{{ url_for('filter_by_catalog_id') }}" method=post class=filter-by-catalog-id>
    <dl>
        <dd><select id="filter_catalog" name=catalog>chengdu
            <option value=0>test</option>
            <option value=1>mysql</option>
            <option value=2>python</option>
            <option value=3>performance</option>
            <option value=4>security</option>
        </select>
        <input type=submit value=Submit>
    </dl>
</form>
<ul class=entries>
    {% for entry in entries %}
    <li><h3>{{ entry.title }}</h3>{{ entry.text|safe }}
        {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
        {% endfor %}
</ul>
{% else %}
<h2>Login</h2>
{% if error %}<p class=error onClick="timedMsg()"><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{ url_for('login') }}" method=post>
    <dl>
        <dt>Username:
        <dd><input type=text name=username>
        <dt>Password:
        <dd><input type=password name=password>
        <dd><input type=submit value=Login>
    </dl>
</form>
{% endif %}
{% endblock %}