{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<h2>Add Note</h2>
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
    <dl>
        <dt>Note Title:
        <dd><input type=text size=30 name=title>
        <dt>Note Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dt>Catalog Selection:
        <dd><select id="catalog" name=catalog>
            {% for catalog in catalog_entities %}
            <option value="{{ catalog.catalog_num }}">{{ catalog.catalog_name }}</option>
            {% endfor %}
        </select>
        <input type=submit value=Submit>
    </dl>
</form>
<h2>Search Conditions</h2>
<form action="{{ url_for('filter_by_catalog_id') }}" method=post class=filter-by-catalog-id>
    <dl>
        <dd><input placeholder="type title" class="title_search_input" autocomplete="off" name=title>
            <select id="filter_catalog" name=catalog>
                {% for catalog in catalog_entities %}
                <option value="{{ catalog.catalog_num }}">{{ catalog.catalog_name }}</option>
                {% endfor %}
            </select>
            <select id="sorted_by" name=sort>
                <option value=id>id</option>
                <option value=title>title</option>
                <option value=createTime>createTime</option>
            </select>
            <select id="createBy" name=creator>
                {% for creator in creators %}
                <option>{{ creator }}</option>
                {% endfor %}
            </select>
        <input type=submit value=Submit>
    </dl>
</form>
<ul class=entries>
    {% for entry in entries %}
    <li><h3>{{ entry.title }}</h3>
        <button onclick='location.href=("/edit_entry/{{ entry.id }}")'>Edit</button>
        <button onclick='delete_entry_confirm("{{ entry.id }}")' class=delete-entry>Delete</button>
        {{ entry.text|safe }}
        {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
        {% endfor %}
</ul>
{% else %}
<div class="loginForm">
<h2>Login</h2>
{% if error %}<p class=error onClick="timedMsg()"><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{ url_for('login') }}" method=post>
    <dl>
        <dt>Username:
        <dd><input type=text class="login_input" name=username>
        <dt>Password:
        <dd><input type=password class="login_input" name=password>
        <dd><input type=submit class="login_input" value=Login>
    </dl>
</form>
</div>
{% endif %}
{% endblock %}